// Nice Grid
// A simple, responsive, handy and nice CSS grid.
// For RTL support standalone library is recommended.
//
// @cinan
// https://github.com/cinan/gridism

niceGrid(
_gutter = 1rem,
_phoneGutter = 1rem,
_phoneWidth = 568px
)
  define('gutter', _gutter, true)
  define('phoneGutter', _phoneGutter, true)
  define('phoneWidth', _phoneWidth, true)

grid()
  display: block
  clear: both

  &:before, &:after
    display: table
    content: ""
    line-height: 0

  &:after
    clear: both

w(numerator, denominator, stackOnPhones = true)
  float: left
  width: round(numerator / denominator * 100%, 7)
  padding-left: 0
  padding-right: gutter

  if stackOnMobiles
    @media screen and (max-width: phoneWidth)
      width: 100%
      padding-left: phoneGutter
      padding-right: phoneGutter
